<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>
<nav th:replace="base :: navbar"></nav>
<div th:class="container">
    <div class="card">
        <div class="card-header">
            <p th:inline="text" ># [[${post.id}]] </p>
        </div>
        <div class="card-body">
            <p th:inline="text">Name: [[${post.name}]]</p>
            <p th:inline="text">Wishes: [[${post.wishes}]]</p>
            <p th:inline="text">Date: [[${post.date}]]</p>
        </div>
    </div>
    <a th:href="@{/postForm}">Add post</a>








</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>